@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: #969696;
}

::selection {
  background: #969696;
}

@layer components {
  .navbar-container {
    @apply fixed top-0 z-50 flex h-20 w-screen select-none justify-between border-b-[1px] border-customLight-darkGray bg-customLight-lightGray px-10 font-medium text-customLight-darkGray dark:border-customDark-lightGray dark:bg-customDark-darkGray dark:text-customDark-lightGray  md:justify-around md:px-0;
  }
  .navbar-button {
    @apply rounded-md px-3 py-2 text-lg transition hover:bg-[#d1d1d1] dark:hover:bg-inherit dark:hover:bg-[#2c2c2c];
  }
  .dark-mode-button {
    @apply rounded-md bg-[#d1d1d1] p-2 dark:bg-[#2e2e2e];
  }
  .portfolio-container {
    @apply min-h-max bg-customLight-lightGray pb-8 text-customLight-darkGray dark:bg-customDark-darkGray dark:text-customDark-lightGray;
  }
  .portfolio-heading-container {
    @apply mx-auto mb-8 w-[80vw] space-y-4 pt-32 md:w-[60vw];
  }
  .portfolio-cards-container {
    @apply mx-auto grid w-[80vw] grid-cols-1 justify-items-center gap-y-10 md:grid-cols-2;
  }
  .portfolio-card {
    @apply flex min-h-max w-[90vw] flex-col justify-start gap-y-2 overflow-hidden rounded-lg bg-customLight-darkGray pb-0 text-customLight-lightGray shadow transition duration-200 hover:scale-[1.015] dark:bg-customDark-lightGray dark:text-customLight-darkGray dark:shadow-[#5e5e5e] md:w-[90%] md:shadow-md lg:w-[85%] xl:w-[80%] 2xl:w-[90%];
  }

  .tech-tooltip {
    @apply absolute -top-7 -left-5 z-50 h-5 min-w-max scale-0 justify-center rounded bg-customLight-lightGray py-3 px-2 text-customLight-darkGray transition-all group-hover:scale-100 dark:bg-customDark-darkGray dark:text-customDark-lightGray;
  }
  .vertical-center {
    @apply flex items-center;
  }
}
